<!DOCTYPE html>
<html>
<head>
    <title>My demo page</title>
</head>
<body bgcolor="#8c8b9d">
<audio id="audio" preload="auto">
    <source src="../assets/sound/augh.wav">
    <source src="../assets/sound/augh.mp3">
</audio>
<h1 style="text-align: center; font-family: Helvetica; font-size: 40px">What can I do</h1>
<a href="https://www.codewars.com/users/Nestarada" title="Click, make me feel even better">
    <img src="../assets/img/rino.jpg" height="847,5" width=100% onmouseover="document.getElementById('audio').play()" onmouseout="document.getElementById('audio').pause()">
</a>
</body>
</html>